.container {
  @apply absolute top-0 left-0 bg-white w-full h-full transform-gpu transform transition-all;
}

.showMap {
  @apply translate-x-0;
}
.hideMap {
  @apply translate-x-full;
}

.centralizeButton {
  @apply z-[999] absolute right-6 bottom-20 bg-white p-2 rounded-2xl;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.checkpointButton {
  @apply z-[999] absolute right-6 bottom-32 bg-primary p-2 rounded-2xl;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.userPositionMarker {
  @apply animate-pulse;
}

.flagMarker {
  @apply bg-transparent rounded-full;
}

.topInfo {
  @apply z-[999] flex flex-col items-start absolute top-6 left-6 bg-white p-4 rounded-lg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 48px);

  & div {
    & > p {
      @apply flex items-center text-sm leading-5;

      & > span {
        @apply ml-1;
      }
    }
  }
}

.checkpointMarker{
  @apply border border-white absolute top-0 left-0 flex items-center justify-center w-8 h-8 bg-primary rounded-full;
}

.toIcon{}

.interestPoints {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  @apply flex overflow-hidden flex-col items-center h-[72px] transition-all z-[9999] absolute bottom-0 left-0 w-full bg-white rounded-t-3xl;

  &:before {
    content: '';
    @apply absolute w-6 h-1 top-4 bg-gray-400 rounded overflow-hidden;
  }

  & > button {
    @apply w-full p-6 pt-8 text-center font-medium;
  }

  &.isOpen {
    @apply h-[80%];
  }

  & > ul {
    @apply flex flex-col gap-4;
  }
}

